{% extends "layout/plantilla.html" %} {% block content %}
<h2>Listar Categorías</h2>
<form method="get">
  <input type="text" name="buscar" placeholder="Buscar..." />
  <button type="submit">Buscar</button>
</form>
<table>
  <tr>
    <th>Descripción</th>
    <th>Acciones</th>
  </tr>
  {% for cat in categoria %}
  <tr>
    <td>{{ cat.descripcion }}</td>
    <td>
      <a href="{% url 'editarcategoria' cat.id %}">Editar</a>
      <a href="{% url 'eliminarcategoria' cat.id %}">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'agregarcategoria' %}">Agregar Nueva Categoría</a>
{% endblock %}
